body, html {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
#gameContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#gameCanvas {
    background-color: #2e204b;
}
#gameOverScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #130d1f;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}
#gameOverScreen button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}